.home-container {
  display: flex;
  /* flex-direction: column; */
}
.home-items {
  margin: 0 auto;
  gap: 20px;
  flex-direction: column;
}
.home-sides {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}
.home-items > div > h1 {
  color: var(--clr-h-1);
}
.home-welcome > div {
  width: 700px;
  height: 400px;
  flex-wrap: wrap;
  text-align: justify;
  border: 1px solid black;
  border-radius: 12px;
  padding: 10px;
  max-width: 100%;
}
/* .home-layout {
  display: flex;
  flex-direction: row;
} */
.welcome-items {
  display: flex;
  gap: 20px;
}
button {
  justify-content: center;
  width: 6em;
  height: 3.5em;
  text-transform: uppercase;
  font-weight: bold;
}
@media (max-width: 768px) {
  .home-welcome > div {
    width: auto;
  }
}
