.home-container {
  display: flex;
  /* flex-direction: column; */
}
.home-items {
  margin: 0 auto;
  gap: 20px;
  flex-direction: column;
}
.home-sides {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex-wrap: wrap;
  align-self: center;
  justify-content: center;
}
.home-items > div > h1 {
  color: var(--clr-h-1);
}
.home-welcome > div {
  width: 700px;
  height: 400px;
  flex-wrap: wrap;
  text-align: justify;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 24px 48px;

  border-radius: 12px;
  padding: 20px;
  max-width: 100%;
}

.welcome-items {
  display: flex;
  gap: 20px;
}
button {
  justify-content: center;
  width: 7em;
  height: 3.1em;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1em;
  background-color: var(--footer-clr);
  border-radius: 12px;
}
button:hover {
  background-color: #77cf77;
  color: black;
}
@media (max-width: 768px) {
  .home-welcome > div {
    width: auto;
  }
}
