.parents-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.parents-card {
  flex-wrap: nowrap;
  border: 1px solid transparent;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.16) 10px 20px 40px;
  border-radius: var(--border-radius);
  /* padding: 20px; */
  width: 350px;
}
.parent-info-titles {
  font-weight: bold;
  margin-right: 10px;
  /* color: var(--clr-h-1); */
}

.post-offer {
  margin-top: 20px;
}
ul {
  list-style-type: none;
}
.parent-info {
  padding: 10px;
}

@media (max-width: 768px) {
  .parents-card {
    flex-direction: column;
    gap: 20px;
  }
}
