.form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid black;
  margin: 0, auto;
  padding: 10px;
  max-width: 300px;
  border-radius: var(--border-radius);
}

label {
  margin-bottom: 10px;
  font-weight: bold;
}
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  margin-top: 6px;
}
