:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #cf77ce;
  --background-color: #f8f8f8;
  --clr-test-1: #e2ff99;
  --clr-test-2: #90cfdf;
  --clr-test-3: #d2dbd8;
  --clr-h-1: #367714;

  --border-radius: 6px;
}
main {
  padding: 10px 60px;
  --background-color: #f8f8f8;
  /* Soft white background color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  /* color from waldorf */
  color: var(--clr-h-1);
}
