:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #cf77ce;
  --primary-header: #d6531f;
  --clr-test-1: #e2ff99;
  --clr-test-2: #90cfdf;
  --clr-test-3: #d2dbd8;
  --clr-h-1: #367714;
  /* footer background color with transparancy */
  --footer-clr: rgba(214, 83, 31, 0.8);

  --border-radius: 6px;
}
main {
  padding: 10px 60px;
  background-color: var(--background-color);

  /* Soft white background color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  /* color from waldorf school */
  color: var(--clr-h-1);
  font-weight: 400;
}
h2,
h3 {
  font-weight: 400;
}
