.header-container {
  display: flex;
  height: 6vh;
  position: fixed;
  top: 0;
  z-index: 1000;

  width: 100%;
}

.nav-bar {
  display: flex;
  background-color: var(--footer-clr);
  gap: 13%;
  width: 100%;
  padding: 10px;
  align-items: center;
  flex-wrap: wrap;
}
.links {
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 18px;
}
.links:hover {
  text-decoration: underline;
}

.nav-bar a.active {
  color: white;
  text-decoration: underline;
}
span:hover {
  cursor: pointer;
  /* color: green; */
  /* font-size: larger; */
}

@media screen and (max-width: 468px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    gap: 13%;
    flex-wrap: wrap;
    background-color: var(--secondary-header-clr);
  }
  .nav-bar a.active {
    color: black;
    text-decoration: underline;
  }
}
@media screen and (max-width: 412px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    gap: 13%;
    flex-wrap: wrap;
    background-color: var(--secondary-header-clr);
  }
  .nav-bar a.active {
    color: black;
    text-decoration: underline;
  }
}

@media screen and (max-width: 614px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    gap: 13%;
    flex-wrap: wrap;
    background-color: var(--secondary-header-clr);
  }
  .nav-bar a.active {
    color: black;
    text-decoration: underline;
  }
}
