.parents-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.parents-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 1px solid transparent;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.16) 10px 20px 40px;
  border-radius: var(--border-radius);
}
.parent-info-titles {
  text-align: left;

  margin-right: 20px;
  width: 180px;
  font-style: italic;
}
.card-items-list {
  display: inline-block;
  text-align: right;
  width: calc(100%-300px);
}

.post-offer {
  margin-top: 20px;
}
ul {
  list-style-type: none;
}
.parent-info {
  padding: 15px;
  width: auto;
  /* background-color: aqua; */
  border-radius: var(--border-radius);
}

@media (max-width: 768px) {
  /* .parents-card {
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
  } */
  .parent-info {
    width: 100%;
    margin-bottom: 20px;
  }
  .parents-container {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 1200px) {
  .parents-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
