.offer-container {
  display: flex;
  flex-direction: column;
}

.offer-form-container {
  gap: 2px;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 24px 48px;
  margin: auto;
  padding: 10px;
  border-radius: var(--border-radius);
  justify-content: center;
  align-items: center;
}
#offer-help {
  margin: auto;
  margin-bottom: 10px;
}

.title-label {
  margin-bottom: 30px;
  /* font-weight: bold; */
}
input {
  width: 100%;
  padding: 8px;
  margin-bottom: 8px;
  margin-top: 6px;
  border-radius: var(--border-radius);
  /* background-color: var(--clr-test-2); */

  /* test background color */
  height: 50px;
}
/* .text-area {
  border-radius: var(--border-radius);
  min-width: 200px;
  max-width: 600px;
  height: 35px;
  max-height: 300px;
  margin-top: 5px;
  padding: 10px;
} */

@media (max-width: 768px) {
  .offer-container {
    max-width: 300px;
    margin: auto;
  }
  .offer-form-container {
    flex-direction: column;
    gap: 10px;
  }
  #offer-help {
    align-self: center;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .offer-container {
    max-width: 200px;
    margin: auto;
  }
}
