.offer-container {
  display: flex;
  flex-direction: column;
}

.offer-form-container {
  /* display: flex;
  flex-direction: column; */
  gap: 2px;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 24px 48px;
  margin: auto;
  padding: 10px;
  border-radius: var(--border-radius);
  justify-content: center;
  align-items: center;
  width: 300px;
}
#offer-help {
  margin: auto;
  margin-bottom: 10px;
}

.title-label {
  margin-bottom: 30px;
  /* font-weight: bold; */
}
input,
select {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  border-radius: var(--border-radius);
  /* test background color */
  height: 35px;
}
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#add-offer-btn {
  /* margin-left: 25px; */
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .offer-container {
    max-width: 700px;
    margin: auto;
  }
  .offer-form-container {
    flex-direction: column;
    gap: 10px;
  }
  #offer-help {
    align-self: center;
    margin-bottom: 10px;
  }
}
@media (max-width: 500px) {
  .offer-container {
    max-width: 300px;
    margin: auto;
  }
}
